<div class='table_footer'>
  <div class='per_page_choises'>
    <%= footer[:per_page_choises].map do |num| %>
      <% link_to num, url_for(params.merge(per_page: num)), remote: true, class: "#{'current_per_page' if num == MetaTable.per_page_choise}" %>
    <% end.join(' | ').html_safe %>
  </div>
  <%= paginate collection, :remote => true %>
</div>