<div class='meta_wrapper'>
  <%= render partial: '/meta_table_views/header' %>
  <%= render partial: '/meta_table_views/table',  :locals => {content: content} %>
  <%= render partial: '/meta_table_views/footer', :locals => {content: content} %>
</div>