.meta_wrapper {
  width: 100%;
  margin: 0;
  border: 1px solid silver;
  .top_header_wrapper{
    width: 100%;
    margin: 0;
    #meta_table_search_form{
      width: 20%;
      float: right;
    }
  }
  table{
    border: none;
    width: 100%;
    margin: 0;
  }
  .table_footer{
    .pagination{
      float: right;
    }
  }

  .clearfix:after {
    clear: both;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }

}
