.meta_wrapper {
  width: 100%;
  margin: 0;
  .top_header_wrapper{
    outline: 1px solid silver;
    width: 100%;
    height: 37px;
    margin: 0;
    button{
      padding: 0px;
      margin: 0px;
      a{
        color: black;
      }
    }
    #meta_table_search_form{
      padding: 0px;
      margin: 0px;
      float: right;
      width: 340px;
      input{
        width: 150px;
        margin: 0px;
        float: right;
      }
      select{
        width: 150px;
        float: right;
        margin: 0px;
      }
      button.edit_view, button.create_view{
        width: 20px;
        height: 37px;
        margin:0px;
        padding: 0px;
        border-right: 1px solid green;
        float: right;
      }

    }
    #table_view{
      float: right;
    }
  }
  table{
    outline: 1px solid silver;
    width: 100%;
    margin: 0;
    thead{
      tr{
        &:first-child{
          background-color: #f7f7f9;
        }
      }
    }
    tr {
      td, th {
        border-left: 1px solid silver
      }
    }
    tr.even {
      background-color: #f7f7f9;
    }
  }
  .table_footer{
    outline: 1px solid silver;
    .per_page_choises{
      display: inline-block;
      .current_per_page{
        font-weight: bold;
      }
    }
    .pagination{
      float: right;
    }
  }

  .clearfix:after {
    clear: both;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }

}


// new/edit forms
ul.sortable {
  margin-left: 0px;
  li {
    padding-left: 5px;
    list-style: none;
  }
}
