.meta_wrapper {
  width: 100%;
  margin: 0;
  .top_header_wrapper{
    width: 100%;
    margin: 0;
    button{
      padding: 0px;
      margin: 0px;
      a{
        color: black;
      }
    }
    #meta_table_search_form{
      margin-left: 20px;
      width: 20%;
      float: right;
      input{
        margin: 0px;
        width: 40%;
        float: right;
      }
      select{
        float: left;
        margin: 0px;
        width: 40%;
      }
      a{
       float: left;
        margin: 0px;
        width: 20%;
      }
    }
    #table_view{
      float: right;
    }
  }
  table{
    border: none;
    width: 100%;
    margin: 0;
  }
  .table_footer{
    .pagination{
      float: right;
    }
  }

  .clearfix:after {
    clear: both;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }

}
